<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Jose William Martinez Pena</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://media.licdn.com/dms/image/C4E03AQFRY3DPPw062w/profile-displayphoto-shrink_400_400/0/1610497114092?e=1697673600&v=beta&t=QSj46eUHzKzSEzEdypC6tDrdSjfBERP3iWV92_THstI" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Projects</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Jose William
                    <span class="text-primary">Martinez Peña</span>
                </h1>
                <div class="subheading mb-5">
                   Tel · (312) 296-7655 ·
                    <a href="mailto:name@email.com">josewilliam03@hotmail.com</a>
                </div>
                <p class="lead mb-5">Passionate about web design and exploring emerging technologies, I am seeking my first employment within a dynamic and
                collaborative environment. Despite limited experience, my dedication to refining my skills is relentless. I consistently
                remain receptive to novel ways of learning and growing, enabling me to swiftly adapt to evolving challenges.
               </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/jose-william-martinez-pena/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/JoseW-01/portfolio" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Freelance Web Developer</h3>
                        <div class="subheading mb-3">Creating Solutions</div>
                        <p>
                            Collaborated with clients from diverse locations, crafting custom websites and meeting deadlines. Proficient in
                            communication, problem-solving, and adapting to various technologies. Committed, autonomous, and continuously growing in
                            web development.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">March 2023 - Present</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">University of Pamplona</h3>
                        <div class="subheading mb-3">In the fifth semester of Business Administration studies.</div>
                        <div>Administration Science</div>
                        <p>2023</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">August 2021 - July-2025</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">UPARSISTEM Institute</h3>
                        <div class="subheading mb-3">"Financial and Accounting Analysis Technician"</div>
                        <p>2018</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">August 2017 - May 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Licenses & certifications</h3>
                        <h4 class="mb-0">Udemy</h4>
                        <div class="subheading mb-3">"Angular 15 MasterClass with TypeScript, FireBase & Material"</div>
                        <h4 class="mb-0">FreeCodeCamp</h4>
                        <div class="subheading mb-3">"Front End Development Libraries"</div>
                        <div class="subheading mb-3">"JavaScript Algorithms and Data Structures"</div>
                        <div class="subheading mb-3">"Responsive Web Design"</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">July 2023</span></div>
                    
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Projects-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5 text-center">Projects</h2>
                <div class="card-group">

                    <div class="card col-6 me-5 text-center" style="border: 2px solid rgb(23, 143, 212); border-radius: 10px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsEkldKKRc-FDY9aZ3_lxUFgI3l1lykBC6EQ&usqp=CAU" class="card-img-top" alt="Crud">
                        <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button routerLink="crud" class="btn btn-outline-info">Go Project</button>
                        </div>
                    </div>

                    <div class="card col-6 me-5 text-center" style="border: 2px solid rgb(23, 136, 212); border-radius: 10px;">
                        <img src="https://static.vecteezy.com/system/resources/previews/021/213/183/non_2x/set-of-retro-30s-cartoon-mascot-characters-funny-faces-50s-60s-old-animation-eyes-and-mouths-elements-vintage-comic-smiles-template-caricatures-with-happy-emotions-hand-drawn-clipart-vector.jpg" class="card-img-top" alt="Ramdon Jokes" height="252px" >
                        <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button routerLink="home" class="btn btn-outline-info">Go Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
    </div>
</body>


