<div class="container">
    <div class="row">
        <h4 class="text-muted">Update Products</h4>
        <div class="col-4">
            <div class="card">
                <div *ngIf=" waiting; else form">
                    Getting Product Info...
                </div>
                <ng-template #form>
                    <form (ngSubmit)="submit()" name="formulario" ngNativeValidate class="card-body">
                        <div class="form-group p-2">
                            <label class="form-label" for="name">Name</label>
                            <input [(ngModel)]="productFromApi!.name" type="text" autofocus name="name" required maxlength="25"
                                min="3" class="form-control" name="name" id="name">
                        </div>
                        <div class="form-group p-2">
                            <label class="form-label" for="description">Description</label>
                            <textarea [(ngModel)]="productFromApi!.description" rows="2" type="text" id="description" name="description" required 
                                class="form-control" name="description"></textarea>
                        </div>
                        <div class="form-group px-2">
                            <label class="form-label" for="price">Price</label>
                            <input [(ngModel)]="productFromApi!.price" type="number" name="price" required  
                                class="form-control" name="price">
                        </div>
                        <div class="form-group my-3">
                            <button [disabled]="updating" (click)="goToProductListForm()" class="btn btn-outline-danger me-3">Cancel</button>
                            <button [disabled]="updating"  class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>
